<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>

		<add name="dbConnect" connectionString="data source=DESKTOP-UT4DEFE\MSSQLSERVER01; initial catalog=LabDB; integrated security=true"
		     providerName="System.Data.SqlClient" />

		<add name="NorthWindConnect"
		 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NorthWind2020;Integrated Security=True"
		 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>