<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mailSettings">
			<section name="smtp_1" type="System.Net.Configuration.SmtpSection"/>
			<section name="smtp_2" type="System.Net.Configuration.SmtpSection"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="filePath" value="C:\Users\gertl\Source\Repos\TournamentTracker\TextData"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="me@outlook.com "/>
		<add key="senderDisplayName" value="TournamentTracker "/>
	</appSettings>

	<connectionStrings>
		<add name="Tournaments" connectionString="Server=xxx;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<mailSettings>
		<smtp_1 from="someone@gmail.com">
			<network
			  host="smtp.gmail.com"
			  port="587"
			  enableSsl="true"
			  userName="MssGMail"
			  password="!@45cow"
			  defaultCredentials="false" />
			<specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
		</smtp_1>

		<smtp_2 from="karenpayneoregon@gmail.com">
			<network
			  host="smtp.gmail.com"
			  port="587"
			  enableSsl="true"
			  userName="oregon@gmail.com"
			  password="password"
			  defaultCredentials="false" />
			<specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
		</smtp_2>

	</mailSettings>

	<system.net>
		<mailSettings>
			<smtp  from="Someone@comcast.net">
				<network
				  host="smtp.comcast.net"
				  port="587"
				  enableSsl="true"
				  userName="MissComcast"
				  password="d@45cat"
				  defaultCredentials="true" />
				<specifiedPickupDirectory pickupDirectoryLocation="MailDrop"/>
			</smtp>
		</mailSettings>
	</system.net>

</configuration>